@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth fonts */
html, body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
